In [2]:
import pandas as pd
import numpy as np

lst = []
with open("trace_frames.txt", 'r') as f:
    while line := f.readline().strip():
        lst.append(line.split())
    f.close()

pf = pd.DataFrame(lst, columns=['frame', 'id', 'x', 'y', 'w', 'h', 'x_3d', 'y_3d', 'z_3d', 'frame-object-id', 'traffic-lights'])
pf

    frame id    x    y   w    h x_3d y_3d z_3d frame-object-id traffic-lights
0      12  1  342  688  47   30   -1   -1   -1               0              2
1      13  1  345  674  45   45   -1   -1   -1               0              2
2      14  1  338  669  54   50   -1   -1   -1               0              2
3      15  1  340  660  52   59   -1   -1   -1               0              2
4      16  1  341  652  50   67   -1   -1   -1               0              2
..    ... ..  ...  ...  ..  ...  ...  ...  ...             ...            ...
481   688  6    0  329  67  122   -1   -1   -1               0              2
482   689  6    0  331  60  118   -1   -1   -1               0              2
483   690  6    0  334  48  110   -1   -1   -1               0              2
484   691  6    0  339  39   97   -1   -1   -1               0              2
485   692  6    0  337  26  102   -1   -1   -1               0              2

[486 rows x 11 columns]